{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Episteme Admin{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/episteme-admin.css' %}">
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">
      <img src="{% static 'admin/images/episteme-logo.svg' %}" alt="Episteme" class="logo-icon">
      <span class="logo-text"><span class="logo-episteme">Episteme</span> Admin</span>
    </a>
  </h1>
{% endblock %}

{% block welcome-msg %}
  Welcome to Episteme Control Panel
{% endblock %}

{% block userlinks %}
  <div class="user-links">
    <a href="/" class="link-button">← View Site</a>
    {% if user.has_usable_password %}
      <a href="{% url 'admin:password_change' %}" class="link-button">Change Password</a>
    {% endif %}
    <a href="{% url 'admin:logout' %}" class="link-button logout">Log Out</a>
  </div>
{% endblock %}